@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root{
      --dark-bg: #222831;
      --light-bg:#fff;
      --btn-color: #f95959;
      --toDoList-bg-w: #a2a8d3;
      --toDoList-bg-b: #ececec;
      --front-clr:#fff;
      --front-clr-b:#ff6f3c;
      --front-clr-c:#fffaf2;
      --outline-input: #c3195d;
      --li-clr:#e7eaf6;
      --checked-work:#06d239;
      --delete-clr:#20aad8;
}

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins',sans-serif;
}
body{
      min-height: 100vh;
      transition: 0.3s ease;
}
.container{
      position: absolute;
      width: clamp(20%, 50%, 80%);
      padding: 30px;
      background-color: var(--toDoList-bg-w);
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 20px;
      .title{
            color: var(--front-clr);
            text-align: center;
            margin: 1rem;
            font-weight: 500;
            h2{
                  margin: 20px;
                  font-size: clamp(0.9rem,2vw,3rem);
            }
      }
}
.btn-theme{
      button{
            width: clamp(2.5rem,4vw,5rem);
            font-size: clamp(0.6rem,1vw,2rem);
            border-radius: 10px;
            padding: 10px;
            border: none;
            outline: none;
            color: var(--front-clr);
            cursor: pointer;
            background: var(--btn-color);
            transition: 0.2s ease;
      }
}
.btn-theme button:hover{
      background: var(--dark-bg);
}
body.dark {
      background: var(--dark-bg);
      
}
.fill-form{
      display: flex;
      justify-content: center;
      align-items: center;
}
.entryarea{
      position: relative;
      width: 70%;
      height: 80px;
      line-height: 55px;
      margin: 10px;
      input{
            position: absolute;
            width: 100%;
            aspect-ratio: 8/1;
            outline: none;
            font-size: clamp(0.4rem,1.2vw,2rem);
            padding: 0 20px;
            background: transparent;
            line-height: 50px;
            border-radius: 10px;
            border: 3px solid #fff;
            transition: 0.2s ease;
            z-index: 99;
      }
      label{
            position: absolute;
            font-size: clamp(0.4rem,1.2vw,2rem);
            color: var(--front-clr);
            padding: 0 1.2rem;
            margin: 0 1rem;
            transition: 0.2s ease;
            background-color: var(--toDoList-bg-w);
      }
}

input:focus, input:valid{
      color: var(--outline-input);
      border: 3px solid var(--outline-input);
}

input:focus+label, input:valid+label{
      color: var(--outline-input);
      height: 20px;
      line-height: 20px;
      transform: translate(-14px,-9px) scale(0.85);
      z-index: 99;
}
.add-btn{
      width: clamp(0.6rem,4vw,7rem);
      font-size: clamp(0.4rem,1vw,2.5rem);
      padding: 0 calc(2rem - 10px);
      aspect-ratio: 4/3;
      margin-bottom: 25px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: var(--front-clr);
      outline: none;
      border: none;
      border-radius: 10px;
      background-color: var(--btn-color);
      cursor: pointer;
      transition: 0.2s ease;
   
}
.add-btn:hover{
      background-color: var(--dark-bg);
}
.add-btn:active{
      opacity: 0.7;
}
.list-container{
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      li{
            display: flex;
            align-items: center;   
            list-style: none;
            font-size: clamp(0.6rem,1vw,1.4rem);
            -webkit-user-select: none;
            user-select: none;
            padding: 1rem 1.4rem;
            cursor: move;
            position: relative;
            transition: 0.2s ease;
            background: var(--li-clr);
            border-radius: 10px;
            margin: 10px;
            p{
                  color: var(--front-clr-b);
            }
      }
}
.list-container li::before{
      content: '';
      position: absolute;
      width: clamp(0.5rem, 1.5vw, 1.25rem);
      height: clamp(0.5rem, 1.5vw, 1.25rem);
      
      border-radius: 50%;
      background-image: url(./assets/unchecked-10.png);
      background-size: cover;
      background-position: center;
      left: 2px;
}
 .list-container li.checked{
      text-decoration: line-through var(--checked-work);
      p{
            font-size: clamp(0.3rem,0.8vw,1.2rem);
            color: var(--checked-work);
      }
      
 }
 .list-container li.checked::before{
      background-image: url(./assets/checkedver2.png);
 }

.list-container li span{
      position: absolute;
      right: 0;
      width: 27px;
      height: 27px;
      align-items: center;
      text-align: center;
      font-size: 15px;
      color: var(--delete-clr);
      cursor: pointer;
      transition: 0.2s ease;
      
}
.list-container li span:hover{
      scale: 1.4  ;
}
.list-container li button{
      position: absolute;
      right: 1.6rem;
      margin: auto;
      width: clamp(1rem,3vw,4rem);
      aspect-ratio: 2/1 ;
      font-size: clamp(0.3rem,1vw,2rem);
      border-radius: 10px;
      padding: 0.3rem;
      align-items: center;
      background: var(--light-bg);
      border: none;
      outline: none;
      color: var(--front-clr-b);
      cursor: pointer;
      transition: 0.3s ease;
     
}
.list-container li button:hover{
      background: var(--btn-color);
      color: var(--front-clr);
}
.list-container li p{
      font-size: clamp(0.4rem,1vw,2rem);
}

.item.dragging :where(span){
      opacity: 0;
}


@media (max-width:500px){
      .fill-form{
            display: flex;
            flex-direction: column;
      }
      .entryarea label{
            padding: 0 0.1rem;
      }
}